body{
    color: white !important;
    background-color: white;
    transition: 0.5s ease !important;
    cursor: url(./icons8-circle-24.png), auto;
    position: relative !important;
    /* background-size: cover !important; */
    /* background-attachment: fixed !important; */
    margin: 0% ;
    overflow-x: hidden !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


/* #overlay{
    width: 100%;
    height: 100vh;
    top: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    z-index: 1;
} */
/* nav bar */
nav{
    width: 100vw ;
    display: flex;
    background-color: rgba(0, 0, 0, 0.877);
    height: fit-content;
    /* position: absolute; */
    justify-content: space-between;
    position: relative;
    /* position: fixed; */
    z-index: 4;
    top: 0%;
    left: 0%;

    align-items: center;
    text-align: center;
}
nav h4{
    z-index: 999;
    left: 2%;
    position: relative;
    top: 0%;
    color: white;
}
.outerlogo{
    width: 3em;
    z-index: 100;
    position: relative;
    top: 1%;
    right: 2%;
    transition: 2s;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.outerlogo2{
    width: 3em;
    z-index: 1000;
    position: relative;
    position: fixed;
    top: 1%;
    right: 2%;
    transition: 2s;
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.outernav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 0.5em;
    transition: 0.3;

}
.outerlogo2{
    display: none;
}

.outerinnernav{
    transition: 0.3s;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
}
.outerinnernav2{
    transition: 0.3s;
    width: 0.5em;
    height: 0.5em;
    background-color:rgb(0, 0, 0);
    border-radius: 45px;
}
.fivefive2{ 
    width: 3em;
    transform: rotate(135deg);
    transition: 0.5s ;
}
.fivefive{
    width: 10em;
    transform: rotate(-135deg);
    transition: 0.5s ; 
}

.fourfour , .sixsix{
    display: flex;
}
.fivefive{
    position: relative;
    left: 2%;
}
.fivefive2{
    position: absolute;
}
.fourfour , .sixsix{
    display: none;
}

.resp{
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0%;
    z-index: 4;
    margin: 0%;
    right: -100%;
    transition: 0.3 right;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.resp2{
    width: 40%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(20px);
    top: 0%;
    transition: 0.3s linear;
    margin: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10 !important;
    background-color:rgba(0, 0, 0, 0.724);
    color:white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#resp ul{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0%;
    z-index: 10;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
li{
    width: 100vw;
    padding: 0%;
    position: relative;
    z-index: 10;
    margin: 0%;
    color: white !important;
    list-style: none;
    font-size: 2rem;
    line-height: 100px;
    text-align: center;
    position: relative;
    align-items: center;
}
li:hover{
    color: red;
}
a{
    text-decoration: none;
}

/* hero section */
#hero{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0% 2%;    
    height: 100vh;
    background-image: url(./port_video-transformed.png);
    background-size: cover;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}

#hero button{
    background-color: red;
    color: white;
    border: 2px solid white;
    width: 8em;
    position: relative;
    z-index: 3;
    position: relative;
    height: 3em;
    transition: 0.3s;
    font-size: 1.5rem;
    border-radius: 9px;
}
button:hover{
    border: 2px solid white !important;
    background-color:transparent !important;
    color: white;
    transition: 0.3s !important;


}


/* video{
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    object-fit: cover;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.3;
} */
/* h1's */
h1{
    font-size: 12vmax;
    cursor: pointer;
    letter-spacing: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
    text-align: left;
}
h5{
    font-size: 1rem;
    color: rgb(255, 255, 255) ;
    position: absolute;
    z-index: 4;
    text-align: center;
    align-items: center;
    align-self: center;

    bottom: 5%;   
}
span{
    color: red;

}
.box{
    width: 19vmax !important;
    height: 19vmax !important;
    position: absolute;
    z-index: -1;
    border-radius:100% 0% 100% 0% / 100% 12% 88% 0% ;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 0, 0));

}
@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }
    10%{
    transform: rotate(20deg);

    }
    20%{
        transform: rotate(40deg);
    
        }30%{
            transform: rotate(80deg);
        
            }40%{
                transform: rotate(100deg);
            
                }50%{
                    transform: rotate(200deg);
                
                    }60%{
                        transform: rotate(300deg);
                    
                        }70%{
                            transform: rotate(320deg);
                        
                            }80%{
                                transform: rotate(340deg);
                            
                                }
                                90%{
                                    transform: rotate(360deg);
                                
                                    }

    100%{
        transform: rotate(0deg);
    }
}
.box1{
    top: 10%;
    left: 3%;
    z-index: -1;
    transform: rotate(-40deg);
    animation: 10s infinite rotate;

}
.box2{
    top: 40%;
    right: 30%;
    transform: rotate(20deg);
    animation: 9s infinite rotate;

}
.box3{
    top: 2%;
    right: 45%;
    animation: 10s infinite rotate;

    transform: rotate(-70deg);

}
.box4{
    top: 2%;
    right: 10%;
    animation: 11s infinite rotate;

    transform: rotate(70deg);

}
.box5{
    bottom: 4%;
    right: 4%;
    animation: 11s infinite rotate;

    transform: rotate(70deg);

}
@media(max-width:769px){
    #hero{
        padding: 0% !important;
    }
    .box1{
        top: 10%;
        left: 10%;
        z-index: -1;
        transform: rotate(-40deg);
        animation: 10s infinite rotate;
    
    }
    .box2{
        top: 60%;
        right: 20%;
        transform: rotate(20deg);
        animation: 9s infinite rotate;
    
    }
    .box3{
        top: 55%;
        right: 60%;
        animation: 10s infinite rotate;
    
        transform: rotate(-70deg);
    
    }
    .box4{
        top: 10%;
        right: 20%;
        animation: 11s infinite rotate;
    
        transform: rotate(70deg);
    
    }
    .box5{
        top: 40%;
        right: 10%;
        animation: 11s infinite rotate;
    
        transform: rotate(70deg);
    
    }
}
/* all section */
section:nth-child(2){
    height: 100vh;
    width: 100%;
    /* margin-top: 100vh; */
}
/* media query of hero section */
@media(max-width:768px){
    h1{
        /* font-size: 6vmax; */
        text-align: center;
        letter-spacing: 2px;
    }
    #hero{
        padding: 0%;
    }
    h1 div{
    }
    #hero button{
        /* 8 3 1.5 */
        font-size:1rem ; 
        width: 10em;
        height: 3em;
    }
    #cursor{
        display: none;
    }
}
@media(max-width:437px){
    h1{
        font-size: 7.5vmax;
        text-align: center;
        margin-bottom: 5em;
        letter-spacing: 5px;
    }
    .resp2{
        width: 100%;
        height: 110vh;
    }
}
@media(max-width:321px){
    h1{
        font-size: 3rem;
        margin-bottom: 1em;
        text-align: center;
        letter-spacing: 2px;
    }
}
/* about us /// second section  */
#about{
    height: fit-content;
    position: relative;
    z-index: 1;
    background-color: whitesmoke;
    color:black !important;
    right: 0%;
}
#outerabout{
    height: 90vh;
    width: 100vw;
    display: flex;
}
.innerabout{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#about h2{
    font-size: 3.5rem;
    font-weight: bolder;
}
#about p {
    font-size: 1.4rem;
    width: 80%;
    font-weight: light;
}
#skills{
    text-align: center;
    align-items: center;
    padding: 1% 0%;
}
marquee img{
    margin-right: 5em;
}

/* media query of section 2 // second section // about section */
@media(max-width:1023px){
    #outerabout{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .innerabout{
        width: 100%;
        height: 100%;
    }
    #about h2{
        font-size: 2rem;
        font-weight: bolder;
    }
    #about p {
        font-size: 1rem;
        width: 80%;
        font-weight: lighter;
    }

}
@media(max-width:770px){
    #outerabout iframe{
        width: 500px;
        height: 300px;
    }
}
@media(max-width:450px){
    #outerabout iframe{
        width: 200px;
        height: 200px;
    }
}
@media(max-width:424px){
    #skills{
    margin-top: 5em;

    }
    marquee{
        width:90%;
        text-align: center;
        align-items: center;
    }
}
/* contact || third section  */
#contact{
    height: 100vh;
    display: flex;
    background-color: whitesmoke;
    position: relative;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    height: 35em;
    width: 40em;
    position: relative;
    z-index: 3;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input{
    width: 90%;
    height: 3em;
    position: relative;
    z-index: 3;
    /* box-shadow: 1px 1px 5px 1px gray; */
    padding: 1% 1%;
    border-radius: 9px;
    border: black 2px solid;

}
form h2{
    font-size: 3rem;
    color: black;
}
form button{
    width: 30%;
    position: relative;
    z-index: 19;
    height: 4em;
    border-radius: 9px;
    border: none;
    transition: 0.4s;
    background-color:black;
    /* background-color: transparent; */
    margin-top: 1em;
    border: 2px solid black;
    color:white;
}
form button:hover{
    background-color: red !important;
}
textarea{
    width: 90%;
    height: 8em;
    padding: 1% 1%;
    border-radius: 9px;
    border: 2px solid black;
}
@media(max-width:767px){
    form{
        width: 100%;
    }
}

/* scrolllbar */
::-webkit-scrollbar {
    width: 8px;
  }  
  ::-webkit-scrollbar-track {
    background:gray;
  }  
  ::-webkit-scrollbar-thumb {
    background: red;
  }  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 68, 68);
  }
  /* third | services */
#third{
    height: fit-content;
    position: relative;
    z-index: 3;
    /* background-color: black; */
}
.outerserve{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.outerone{
    background-color: white !important;
    color: black !important;
}
#clone{
    border: black 2px solid ;
    color:black!important;
}
.innerserve{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction:column ;
    padding: 1% 2%;
    justify-content: center;
}
.innerserve:nth-child(1){
    width: 40%;
    height: 100%;
}
.innerserve:nth-child(2){
    height: 100%;
    width: 60%;
    position: relative;
    left: 0%;
}
.innerserve img{
    width: 100%;
    border-radius: 9px;
    height:auto;
}
#maintain{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    
}
.innerserve button{
    width: 10em;
    height: 3em;
    border: 2px solid white;
    color: white;
    border-radius: 9px;
    background-color: transparent;
    
}
.innerserve button:hover{
    background-color: red!important;
}
@media(max-width:768px){
    .outerserve{
        display: flex;
        flex-direction: column;
        /* margin-top: 2em; */
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid white;
        height: fit-content;
    }
    .innerserve:nth-child(1){
        width: 100% !important; 
        height: 30vh !important;

    }
    .innerserve:nth-child(2){
        height: 100vh !important;
        width: 100% !important;
        position: relative;
        left: 0%;
    }
    #langs{
        display: none;
    }
}
#social{
    width: 3em;
    position:fixed;
    bottom: 1%;
    left: 0%;
    z-index: 3;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
/* cursor */
#cursor{
    width: 3em;
    border-radius: 45px;
    border: 2px solid rgb(255, 0, 0);
    z-index: 2;
    position: relative;
    height: 3em;
}

footer{
    width: 100%;
    background-color: transparent;
    height: max-content;
    color: white !important;
}
table{
    width: 100%;
    /* color: white !important; */
    height: fit-content;
}
tr{
    height: 10vh;
}
table a{
    color: black !important;
    font-weight: lighter;
    position: relative;
    z-index: 3;
}
#outerloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999999999;
    top: 0%;
    left:0%;
    right:0%;
    background-color: white;
    bottom: 0%;
    opacity: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* top: 50%; */
    /* bottom: 50%; */
    /* left: 45%; */
    /* right: 50%; */
    /* z-index: 999999999999 !important; */
}
.innerloader{
    background-color: gray;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-right: 1em;
    width: 1em;
    border-radius: 45px;
    height: 1em;
}
#load1{
    animation: animate1 infinite 1s;
}
#load2{
    animation: animate2 infinite 1.1s;
}
#load3{
    animation: animate3 infinite 1.2s;
}
@keyframes animate1{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes animate2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes animate3{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#second{
    background-color: whitesmoke !important;
}